<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kowordle</title>
  <link rel="shortcut icon" href="{% static 'images/kowordle_favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/kowordle.css' %}">
  <script id="answer_word" data-word="{{ answer_word }}" data-description="{{ description }}"></script>
  <script src="{% static 'js/kowordle.js' %}"></script>
</head>
<body>
  <div id="title_board">
    Kowordle
    <hr>
  </div>
  <div id="modal">
  </div>
  <div id="all_board">
    <div id="board">
    </div>
    <div id="answer_board">
      <h2 id="answer"></h2>
    </div>
    <div id="answer_meaning_board">
      <h3 id="answer_meaning"></h3>
    </div>
    <div id="keyboard">
    </div>
  </div>
</body>
</html>